#header{
  background-color: #007bff;
  padding: 10px;
}
#main{
  padding: 60px 10%;
}
#button{
  margin-top: 30px;
}
.tab-pane{
  margin: 50px 200px;
}
#header .nav-link{
  color: white;
}
#userName{
  margin: 0;
}
